<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>列表过滤</title>
		<script type='text/javascript' src='../../js/vue.js'></script>
	</head>
	<body>
		<div id="root">
			<h2>欢迎登录，{{name}}</h2>
			<!-- 遍历数组 -->
			<input type="text" placeholder="请输入搜索" v-model="keyword" />
			<button type="text" @click="sortType = 2">年龄升序</button>
			<button type="text" @click="sortType = 1">年龄降序</button>
			<button type="text" @click="sortType = 0">原顺序</button>
			<ul>
				<li v-for="(p, index) in filterPersonList" :key="p.id">
					{{p.name}}-{{p.age}}
				</li>
			</ul>
		</div>
	</body>

	<script type='text/javascript'>
		// 计算属性
		new Vue({
			el: '#root',
			data: {
				name: 'Flan',
				keyword: '',
				sortType: 0, // 0原顺序 1降序 2升序
				personList: [{
					id: '1',
					name: '马冬梅',
					age: 18,
					sex: '女'
				}, {
					id: '2',
					name: '周冬雨',
					age: 20,
					sex: '女'
				}, {
					id: '3',
					name: '周杰伦',
					age: 21,
					sex: '男'
				}, {
					id: '4',
					name: '温兆伦',
					age: 21,
					sex: '男'
				}],
			},
			methods: {

			},
			computed: {
				filterPersonList() {
					const arr = this.personList.filter((e) => {
						return e.name.indexOf(this.keyword) !== -1
					})

					if (this.sortType) {
						arr.sort((a, b) => {
							return this.sortType === 1 ? b.age - a.age : a.age - b.age
						})
					}

					return arr
				}
			}
		})
	</script>
</html>
